<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="/assets/css/main.css">
		</head>
		<body>
			<header>
				
			</header>
			
			{% include navigation.html %}
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="https://github.com/sandrolubis">github</a></li>
	        		<li><a href="https://scholar.google.com/citations?user=gBA6olQAAAAJ&hl=en&oi=ao">google scholar</a></li>
	        		<li><a href="https://twitter.com/sandrowlubis?lang=en">twitter</a></li>
				<li><a href="https://www.linkedin.com/in/sandro-w-lubis-19953742/">linkedin</a></li>
				<li><a href="https://orcid.org/0000-0001-6615-9880">orcid</a></li>
				<li><a href="https://www.researchgate.net/profile/Sandro-Lubis">researchgate</a></li>
			</ul>
			</footer>
		</body>
	</html>
